.box-cadastro{
	background-color:#fff;
	border-radius:3px;
    border-left: 4px solid #1cc09f;

}

.box-lista-evento{
	background-color:#fff;
	border-left: 4px solid #1cc09f;
}

.input-data{
	width:70% !important;

}

.table > thead > tr:first-child {
    background-color: #1cc09f;
    color: white;
    font-size: 16px;
}

.atrasado{
	background-color:#e84a4a !important;
	color:white;
}


.principal{
	max-height:100vh;
}

.box-tables{
 	height: 800px;  
    overflow-y: auto; 
    overflow-x: hidden
}

/*tr td.customColumn{
	width:70%;
}*/

.customColumn{
/*	table-layout: fixed;*/
	min-width:70%;
	max-width:500px !important;
	overflow-wrap: break-word;
}

.commomColumn{
	width:15%;
}

.box-perfil{
    border-bottom: 2px solid #5d6b79;
    background: #354452;
}

.checkedTable{
	background-color:#9ca3ab;
}

h5{
	color:#666;
}
.addDivulgacao{
	margin-top:5px;
}